@(title: String)
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>@title</title>
</head>
<body>
  <form action="" method="post">
  Auction title:<br>
    <input type="text" name="itemTitle" value="Mickey"><br>
    Auction sales description:<br>
    <input textarea rows="40" name="itemSalesLine" value="Mouse"><br>
    Auction additional Information URL:<br>
    <input type="text" name="itemSpecs" value="Mickey"><br>
    Auction image path:<br>
    <input type="text" name="itemImages" value="Mouse"><br>
    Auction item location:<br>
    <input type="text" name="itemGeoLocation" value="Mickey"><br>
    Auction reserve price:<br>
    <input type="text" name="itemReservePrice" value="Mouse"><br>
    Auction reserve price:<br>
    <input type="text" name="itemTotalCurrentBids" value="Mouse"><br><br>
    <input type="submit" value="Submit">
</form>



</body>
</html>