@(title: String)
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>@title</title>
</head>
<body>
  <form action="@routes.JavaApplicationDatabase.showCurrentAuction()" method="post">
  Auction title:<br>
    <input type="text" name="current_auction_title" value="Mickey"><br>
    Auction sales description:<br>
    <input type="text" name="current_auction_sales_description" value="Mouse"><br>
    Auction additional Information URL:<br>
    <input type="text" name="urlfor_current_auction_specs" value="Mickey"><br>
    Auction image path:<br>
    <input type="text" name="urlfor_current_auction_images" value="Mouse"><br>
    Auction item location:<br>
    <input type="text" name="current_auction_item_location" value="Mickey"><br>
    Auction reserve price:<br>
    <input type="text" name="current_auction_reserve_price" value="Mouse"><br>
    Auction reserve price:<br>
    <input type="text" name="current_auction_total_bids" value="Mouse"><br><br>
    <input type="submit" value="Submit">
</form>



</body>
</html>