@(name:String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
    @*facebook script *@

    <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '311623609267600',
                    cookie     : true,
                    xfbml      : true,
                    version    : 'v2.8'
                });
                FB.AppEvents.logPageView();
            };

            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
    </script>
<h1>Hello <em>@name</em></h1>
    @*facebook stuff *@
    <div>
    <fb:login-button
    scope="public_profile,email"
    onlogin="checkLoginState();">
    </fb:login-button>
    </div>

    <div>
        <script>
        function checkLoginState() {
        FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
        });
        }
        </script>
    </div>
</body>
</html>