@(name:String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <script type="text/javascript" src="public/javascripts/facebook.js"></script>
</head>
<body>
    @*facebook script *@

    <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '311623609267600', //needs to get passed in as should be secret
                    cookie     : true,
                    xfbml      : true,
                    version    : 'v2.9'
                });
                //FB.AppEvents.logPageView();
                FB.getLoginStatus(function(response) {
                    statusChangeCallback(response);
                });
            };

            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
    </script>
<h1>Hello <em>@name</em></h1>
    @*facebook stuff *@
    <div>
    <fb:login-button
    scope="public_profile,email"
    onlogin="checkLoginState();">
    </fb:login-button>
    </div>

    <div>
        <button type="button" onclick="faceBookLogin()">Click me!</button>

    </div>

    <div>
        <button type="button" onclick="getFBName()">Get my name</button>

    </div>
    <div>
    <h1 id="fbFName"></h1>
    </div>
    <div>
        <h1 id="fbLName"></h1>
    </div>

    <div>
        <button type="button" onclick="getLoginInfo()">auth token</button>

    </div>
    <div>
        <h1 id="fbLoginInfo"></h1>
    </div>
    <div>
    <button type="button" onclick="getInfoAboutMe()">me</button>

</div>
    <div>
        <h1 id="fbInfoAboutMe"></h1>
    </div>



        <div>
    <button type="button" onclick="logOutOfFb()">log out of fb!</button>

</div>




</body>
</html>