@(title: String)

<!DOCTYPE html>

    <html>
            <head>
                <title>@title</title>
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1" />
                <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                @*<script  src="@routes.Assets.at("javascripts/loadauction.coffee")"></script>*@

                @*for glyphi icons*@
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>*@
                @*<script src="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>*@
            </head>
            <body>

                    <!-- Header -->
                <header id="header">
                    <div class="inner">
                        <a href="index.html" class="logo"><strong>Projection</strong> by TEMPLATED</a>
                        <nav id="nav">
                            <a href="index.html">Home</a>
                            <div class="dropdown nav pull-right">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-log-in" ></span> Login<strong class="caret" style="color: whitesmoke"></strong></a>
                                <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                                    <form method="post" action="@routes.JavaApplicationDatabase.authenticateUser()" accept-charset="UTF-8">
                                        <input style="margin-bottom: 15px;" type="text" placeholder="Username" id="username" name="email">
                                        <input style="margin-bottom: 15px;" type="password" placeholder="Password" id="password" name="password">
                                        <input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1">
                                        <label class="string optional" for="user_remember_me"> Remember me</label>
                                        <input class="btn btn-primary btn-block" type="submit" id="sign-in" value="Sign In">

                                    </form>
                                </div>
                            </div>

                            <a href="#signUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                        </nav>
                        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
                    </div>
                </header>

                    <!-- Banner -->
                <section id="banner">
                    <div class="inner">
                        <header>
                            <h1>Welcome to Projection</h1>
                        </header>

                        <div class="flex ">

                            <div>
                                <span class="icon fa-pencil"></span>
                                <h3>Aliquam</h3>
                                <p>Suspendisse amet ullamco</p>
                            </div>

                            <div>
                                <span class="icon fa-camera"></span>
                                <h3>Elementum</h3>
                                <p>Class aptent taciti ad litora</p>
                            </div>

                            <div>
                                <span class="icon fa-bug"></span>
                                <h3>Ultrices</h3>
                                <p>Nulla vitae mauris non felis</p>
                            </div>

                        </div>

                        <footer>
                            <a href="#" class="button">Get Started</a>
                        </footer>
                    </div>
                </section>


                    <!-- Three -->
                <section id="three" class="wrapper align-center">
                    <div class="inner">
                        <div class="flex flex-2">
                            <article>
                                <div class="image round">
                                    <img src="public/images/favicon.png" alt="Pic 01" />
                                </div>
                                <header>
                                    <h3>Lorem ipsum<br /> dolor amet nullam</h3>
                                </header>
                                <p>Morbi in sem quis dui placerat ornare. Pellentesquenisi<br />euismod in, pharetra a, ultricies in diam sed arcu. Cras<br />consequat  egestas augue vulputate.</p>
                                <footer>
                                    <a href="#" class="button">Learn More</a>
                                </footer>
                            </article>
                            <article>
                                <div class="image round">
                                    <img src="public/images/favicon.png" alt="Pic 02" />
                                </div>
                                <header>
                                    <h3>Sed feugiat<br /> tempus adipicsing</h3>
                                </header>
                                <p>Pellentesque fermentum dolor. Aliquam quam lectus<br />facilisis auctor, ultrices ut, elementum vulputate, nunc<br /> blandit ellenste egestagus commodo.</p>
                                <footer>
                                    <a href="#" class="button">Learn More</a>
                                </footer>
                            </article>
                        </div>
                    </div>
                </section>

                    <!-- Footer -->
                <footer id="footer">
                    <div class="inner">

                        <h3>Thanks for joining our community</h3>


                        <form action="@routes.JavaApplicationDatabase.insertUser()" method="post" id="signUp">
                            <fieldset>
                                <legend>Personal details</legend>
                            <div class="field half first">
                                <label for="firstName">First name</label>
                                <input name="firstName" id="firstName" type="text" placeholder="First Name">
                            </div>
                            <div class="field half ">
                                <label for="email">Last Name</label>
                                <input name="lastName" id="lastName" type="text" placeholder="Last Name">
                            </div>
                            <div class="field half first">
                                <label for="message">Contact Number</label>
                                <input name="phoneNumber" id="phoneNumber" type="text" placeholder="Your best contact number"></input>
                            </div>
                            <div class="field half">
                                <label for="message">Email - This will also be your user name</label>
                                <input name="email" id="email" type="email" placeholder="Email Address"></input>
                            </div>
                                <legend>Address deatails</legend>
                                <div class="field half first">
                                    <label for="address1">Address line 1</label>
                                    <input name="address1" id="address1" type="text" placeholder="Place your address in here">
                                </div>
                                <div class="field half">
                                    <label for="address2">Address line 2</label>
                                    <input name="address2" id="address2" type="text" placeholder="Your apartment number for example may go here">
                                </div>
                                <div class="field half first ">
                                    <label for="message">Post code</label>
                                    <input name="postCode" id="postCode" type="text" placeholder="Post Code"></input>
                                </div>
                                <div class="field half ">
                                    <label for="message">Suburb</label>
                                    <input name="suburb" id="suburb" type="text" placeholder="Suburb"></input>
                                </div>
                                <div class="field half first">
                                    <label for="message">City</label>
                                    <input name="city" id="city" type="text" placeholder="City"></input>
                                </div>
                                <div class="field half ">
                                    <label for="message">Country</label>
                                    <input name="country" id="country" type="text" placeholder="Country"></input>
                                </div>
                                <Legend>Password setup </Legend>
                                <div class="form-group">
                                    <label for="password" class="cols-sm-2 control-label">Password</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group"> <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                            <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" /> </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                                    <div class="cols-sm-10">
                                        <div class="input-group"> <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                            <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password" /> </div>
                                    </div>
                                </div>
                            </fieldset>
                            <ul class="actions">
                                <li><input value="Submit" class="button alt" type="submit"></li>
                            </ul>
                        </form>

                        <div class="copyright">
                                &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
                        </div>

                    </div>
                </footer>

                    <!-- Scripts -->
                @*<script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>*@
                <script src="@routes.Assets.at("javascripts/skel.min.js")"></script>
                <script src="@routes.Assets.at("javascripts/util.js")"></script>
                <script src="@routes.Assets.at("javascripts/main.js")"></script>

            </body>
        </html>